/* 
Coded by Arshdeep Singh
Vit Vellore 
Project software design and development
Food ordering system
*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    padding: 1%;
}
.button {
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .button:hover{
      background-color: yellowgreen;
  }

  /* css navbar */
  .logo{
      border:1px solid;
      width:9%;
      float: left;
  }
  .imgfit{
      width:100%
  }

  .menu{
      line-height: 75px;
      
  }
  .textright{
      text-align: right;
  }
  .textcenter{
      text-align: center;
  }
  .menu ul{
      list-style-type: null;
      
  }
  .menu li{
      display: inline;
      padding: 1%;
      font-weight:bold ;
  }
  .clearfix{
      clear: both;
      float: none;
  }

  a{
      color: #ff0000;
      text-decoration: none;
  }
  a:hover{
      color: black
  }

  /* css for food search */
.foodsearch{
    padding: 10% 0 10% 0;
    background-image: url(../images/bck.jpg);
}
.foodsearch input[type="search"]{
    width: 80%;
    height: 50px;
    font-size: large;
    border:none ;
    padding-right: 10px;
    border-radius: 10px;
}
