/* 
Coded by Arshdeep Singh
Vit Vellore 
Project software design and development
Food ordering system
*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 80%;
    margin: 0 auto;
    border: none;
    padding: 1%;
}
.button {
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .button:hover{
      background-color: yellowgreen;
  }

  /* css navbar */
  .logo{
      border:none;
      width:15%;
      float: left;
  }
  .imgfit{
      width:100%;
      /* height:100%; */
  }

  .menu{
      line-height: 75px;
      
  }
  .textright{
      text-align: right;
  }
  .textcenter{
      text-align: center;
  }
  .menu ul{
      list-style-type: null;
      
  }
  .menu li{
      display: inline;
      padding: 1%;
      font-weight:bold ;
  }
  .clearfix{
      clear: both;
      float: none;
  }

  a{
      color: #ff0000;
      text-decoration: none;
  }
  a:hover{
      color: black
  }

  /* css for food search */
.foodsearch{
    padding: 10% 0 10% 0;
    background-image: url(../images/bck.jpg);
}
.foodsearch input[type="search"]{
    width: 80%;
    height: 50px;
    font-size: large;
    border:none ;
    padding-right: 10px;
    border-radius: 10px;
}

/* css for categories */
.categories{
    padding: 4% 0;
}
.boxes{
    border :none;
    width : 30%;
    float :left;
    margin-left: 2.5%;
}
.float_container{
    position: relative;
}

.float_text{
    position:absolute;
    left: 23%;
    bottom: 20%;
}

.imgcurve{
    border-radius: 20px;
}



/* foodmenu */
.foodmenu{
    background-color: rgba(128, 128, 128, 0.582);
    margin: 3% 0;
}
.foodmenu-box{
    border:none;
    width: 40%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;

}

.foodmenuimg{
    width:35%;
    float:left;
}
.foodmenudesc{
    width: 60%;
    float: left;
    margin-left: 3%;
}
.foodprice{
    font-size: 0.8rem;
    margin: 10px 0px;
}
.fooddetail{
    font-size: 0.7rem;
    margin:10px 0px;
    color: rgb(175, 5, 5);
}
.social ul{
    list-style: none;
}
.social li{
    display: inline;
    padding: 1%;
}